%h1 Domain List

%table.table
  %thead
    %tr
      %th Name
      %th Url
      %th
      %th
      %th
      
  %tbody
    - @domains.each do |domain|
      %tr
        %td= domain.name
        %td= domain.url
        %td= link_to 'Show', domain
        %td= link_to 'Edit', edit_domain_path(domain)
        %td= link_to 'Destroy', domain, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Domain', new_domain_path, class: "btn btn-primary"
