%p#notice= notice

%p
  %b Name:
  = @domain.name
%p
  %b Url:
  = @domain.url

= link_to 'Edit', edit_domain_path(@domain)
\|
= link_to 'Back', domains_path

%br
%canvas#canvas{:height => "450", :width => "600"}