!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EasyData
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / %link{:rel=> "stylesheet", :href=> "//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css"}
    / %script{src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
    / %script{src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"}
    / %script{src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"}
  %body
    .container
      = render partial: "shared/navigation"
      .well
        = render partial: "shared/flash"
        = yield

